<header class="site-header">
    <div class="site-logo">
        <div class="w3-row">
            <div class="w3-col s6">
                <div class="w3-center">
                    <img src="/assets/images/1.png">
                </div>
            </div>
            <div class="w3-col s6">
                <div class="w3-center">
                    <h5 class="w3-animate-opacity">{{site.title}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row w3-hide-small">
        <div class="w3-col s12">
            <div class="w3-center">
                <img class="home-header" src="/assets/images/about.jpg">
            </div>
        </div>
    </div>
</header>
